h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
#logo {
  width: 32.5px;
  height: 32.5px;
}
#newlogo{
  width: 150px;
  height: 150px;
}
#appstore{
  width: 150px;
  length: 150px;
}
#googleplay{
  width: 149px;
  length: 225px;
}
.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    background-color:rgba(0, 0, 255, .00);
  }
.container {
  width: 1010px;
}
#name{
  font-size:400%;
  color: blue;
  padding-right: 10px;
}
.content {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  background-color: rgba(255,255,255,.15);
  border: 1px solid #fff;
  border: 1px solid rgba(86,61,124,.2);
  height:350px;
  border-radius: 20px;
}
.contentTwo {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  background-color: rgba(255,255,255,.95);
  border: 4px solid #ff6600;
  border: 6px solid rgba(255,102,0,1);
  height: 305px;
  border-radius: 20px;
}
#mce-EMAIL{
  border: 5px solid #4169E1;
  border: 5px solid rgba(65,105,225,1);
}
.btn-primary{
  padding: 18px 32px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
