<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MPOAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MPOAuthMobile+Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MPOAuthMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MPOAuthTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libMPOAuth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libMPOAuthMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB36C2DF1124CE51005CF675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB36C3061124CE8F005CF675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB36C3481124D01E005CF675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB36C3AA1124D425005CF675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBCF41A411240C5600E90EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBCF41D711240EF300E90EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD262D4111E412E0003486C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD26483111F46580003486C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBD26516111F4B180003486C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
